$primary-color:#624df8;
$secondary-color:#595959;
$tertiary-color :#10c2f2;
$quaternary-color:#333333;
$info-color:#1c2045;
$white-color:#fff;
$color_1:#efe6e6b0;
$gold_color:#f3b662;
$green-color:#16dca7;


$font-alt-1:cursive;
$font-alt-2:'arial', sans-serif;

$fw-900:900;
$fw-800:800;
$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;
$fw-300:300;
$fw-200:200;
$fw-100:100;

$fs-12 : 12px; 
$fs-13 : 13px; 
$fs-14 : 14px; 
$fs-15 : 15px; 
$fs-16 : 16px; 
$fs-17 : 17px; 
$fs-18 : 18px; 
$fs-20 : 20px; 
$fs-22 : 22px; 
$fs-24 : 24px; 
$fs-25 : 25px; 
$fs-26 : 26px; 
$fs-28 : 28px; 
$fs-30 : 30px;
$fs-34 : 34px; 
$fs-36 : 36px; 
$fs-45 : 45px; 
$fs-48 : 48px; 
$fs-50 : 50px; 
$fs-60 : 60px; 
$fs-75 : 75px; 


.btn{
	font-family: $font-alt-1;
	font-size: $fs-14;
	font-weight: $fw-400;
	text-transform: capitalize;
	line-height: 20px;
    border-radius: 50px;
    padding: 15px 35px;
	border:0;
	position: relative;
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition: 0.4s;
	&:hover {
        color: $white-color !important;
		background: linear-gradient(90deg, #2196f3 0, rgba(98, 77, 248, 0.5882352941) 90%) !important;
    }
    @media only screen and (max-width: 768px) {
        font-size: $fs-15 !important;
    }
    
}
.get-btn{
	background: linear-gradient(90deg,#2196f3 0,#624df896 90%);
    color: $white-color!important;
	margin-left: 30px;
}
.btn-primary{background: $tertiary-color !important;}
.btn-secondary{
	background:$color_1 !important;
	color: $primary-color;  
}
.btn-service{
	background:$color_1 !important;
	color: $gold-color;
	max-width: 40%;
}

@mixin heading-title {
	font-size: $fs-18;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 10px;
    color: $info-color;
}
@mixin heading-subtitle {
	font-size: $fs-34;
    font-style: normal;
    line-height: 1.5;
    color: $info-color;
    text-transform: capitalize;
}

%body-style{
	font-family: $font-alt-1;
	font-size: $fs-16;
	font-weight:$fw-400;
	line-height: 1.5;
	letter-spacing: normal;
	color: $quaternary_color;
	text-transform: initial;
	margin: 0 0 28px;
}
body{
	line-height: inherit;
	a{
	 text-decoration: none;
		&:hover{
			text-decoration: none;
		}		
	}
	main{
		p, .p, .p-alt{
			@extend %body-style;
			a{
				color: $tertiary_color!important;
				&:hover{
					color:$primary_color !important;
				}
			}
		}
		ul{
			li{
				@extend %body-style;
			}
		}
     }
}

em,strong{
	@extend %body-style;
	font-weight: $fw-700;
	color:$primary-color;	
}

//Default font scheme
h1, h2, h3, h4, h5, h6{
	font-style: normal;
	text-transform: capitalize;
	font-family: $font-alt-1;
	margin: 0 0 28px;
	color: var(--clr-success);
	font-weight: var(--fw-600);
	line-height: 1.2;
	letter-spacing: 1px;
  }
h1{font-size: clamp(1.15em,5vw, 2.5em);}
h2,h3,h4,h5,h6{font-size: clamp(1.125em,5vw, 2em);}


//Classes for font family
.font-alt-1{font-family: $font-alt-1;}
.font-alt-2{font-family: $font-alt-2;}


//Classes for font sizes
.fs-12 { font-size: $fs-12; }
.fs-13 { font-size: $fs-13; }
.fs-14 { font-size: $fs-14; }
.fs-15 { font-size: $fs-15; }
.fs-16 { font-size: $fs-16; }
.fs-17 { font-size: $fs-17; }
.fs-18 { font-size: $fs-18; }
.fs-20 { font-size: $fs-20; }
.fs-22 { font-size: $fs-22; }
.fs-24 { font-size: $fs-24; }
.fs-25 { font-size: $fs-25; }
.fs-26 { font-size: $fs-26; }
.fs-28 { font-size: $fs-28; }
.fs-30 { font-size: $fs-30; }
.fs-35 { font-size: $fs-35; }
.fs-36 { font-size: $fs-36; }
.fs-45 { font-size: $fs-45; }
.fs-48 { font-size: $fs-48; }
.fs-50 { font-size: $fs-50; }
.fs-60 { font-size: $fs-60; }
.fs-75 { font-size: $fs-75; }


//Classes for Font Weight
.fw-900{font-weight: $fw-900;}
.fw-800{font-weight: $fw-800;}
.fw-700{font-weight: $fw-700;}
.fw-600{font-weight: $fw-600;}
.fw-500{font-weight: $fw-500;}
.fw-400{font-weight: $fw-400;}
.fw-300{font-weight: $fw-300;}
.fw-200{font-weight: $fw-200;}
.fw-100{font-weight: $fw-100;}



//Classes for line Heights
.lh-0 { line-height: 0;     }
.lh-14 { line-height: 14px; }
.lh-16 { line-height: 16px; }
.lh-18 { line-height: 18px; }
.lh-20 { line-height: 20px; }
.lh-22 { line-height: 22px; }
.lh-24 { line-height: 24px; }
.lh-25 { line-height: 25px; }
.lh-26 { line-height: 26px; }
.lh-28 { line-height: 28px; }
.lh-30 { line-height: 30px; }
.lh-33 { line-height: 33px; }
.lh-34 { line-height: 34px; }
.lh-35 { line-height: 35px; }
.lh-36 { line-height: 36px; }
.lh-48 { line-height: 48px; }
.lh-55 { line-height: 55px; }
.lh-60 { line-height: 60px; }
.lh-72 { line-height: 72px; }
.lh-74 { line-height: 74px; }
.lh-82 { line-height: 82px; }
.lh-89 { line-height: 89px; }


//Classes for letter spacing
.ls-24 { letter-spacing: 24px; }
.ls-25 { letter-spacing: 25px; }
.ls-36 { letter-spacing: 36px; }


