$primary-color:#624df8;
$secondary-color:#595959;
$tertiary-color :#10c2f2;
$quaternary-color:#333333;
$info-color:#1c2045;
$white-color:#fff;
$color_1:#efe6e6b0;
$gold_color:#f3b662;
$green-color:#16dca7;


$font-alt-1:cursive;
$font-alt-2:'arial', sans-serif;



$fw-900:900;
$fw-800:800;
$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;
$fw-300:300;
$fw-200:200;
$fw-100:100;

.btn {
	font-family: $font-alt-1;
	font-size: 14px;
	font-weight: $fw-400;
	text-transform: capitalize;
	line-height: 20px;
    border-radius: 50px;
    padding: 15px 35px;
	position: relative;
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    transition: 0.4s;
    @media only screen and (max-width: 768px) {
        font-size: 15px !important;
    }
	&::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleX(0);
        transition-property: transform;
        transition: 0.4s;
    }
    &:hover {
        &::before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}
.get-btn{
	background: linear-gradient(90deg,#2196f3 0,#624df896 90%);
    color: $white-color!important;
	margin-left: 30px;
}
.btn-primary{
	background: $tertiary-color !important;
	&:hover{
      background: $primary-color !important;
    }
}

.btn-secondary{
	background:$color_1 !important;
	border:0;
	color: $primary-color;
    &:hover {
        color: $quaternary-color !important;
    }
}
.btn-service{
	background:$color_1 !important;
	border:0;
	color: $gold-color;
	max-width: 30%;
}
@mixin heading-title {
	font-size: 18px;
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 10px;
    color: $info-color;
}

@mixin heading-subtitle {
	font-size: 34px;
    font-style: normal;
    line-height: 1.5;
    color: $info-color;
    text-transform: capitalize;
}






//Default font scheme
h1, h2, h3, h4, h5, h6{
	font-style: normal;
	text-transform: capitalize;
	font-family: $font-alt-1;
	margin: 0 0 28px;
	color: var(--clr-success);
	font-weight: var(--fw-600);
	line-height: 1.2;
	letter-spacing: 1px;
  }
h1{font-size: clamp(1.15em,5vw, 2.5em);}
h2,h3,h4,h5,h6{font-size: clamp(1.125em,5vw, 2em);}

p{
	font-family: $font-alt-1;
	font-size: 16px;
	font-weight: $fw-400;
	line-height: 1.5;
	color:#333;
	margin: 0 0 28px;
	a{
		
	    &:hover{
	    	
	    	text-decoration: none !important;
	    }
	}
	 
}
.p-alt{
	font-family: $font-alt-1;
	font-size: 16px;
	font-weight: $fw-400;
	line-height: 1.5;
	color:$primary-color;
}

em,strong{
	font-family: $font-alt-1;
	font-size: 16px;
	font-weight: $fw-700;
	text-transform: none;
	line-height: 1.5;
	color:$primary-color;
	
}



//Classes for font family
.font-alt-1{font-family: $font-alt-1;}
.font-alt-2{font-family: $font-alt-2;}


//Classes for font-weights
.text-thin { font-weight: 100; }
.text-xlight { font-weight: 200; }
.text-light { font-weight: 300; }
.text-normal { font-weight: 400; }
.text-medium { font-weight: 500; }
.text-semibold { font-weight: 600; }
.text-bold { font-weight: 700; }
.text-xbold { font-weight: 800; }
.text-heavy { font-weight: 900; }

//Classes for font sizes
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-17 { font-size: 17px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }
.fs-24 { font-size: 24px; }
.fs-25 { font-size: 25px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-30 { font-size: 30px; }
.fs-35 { font-size: 35px; }
.fs-36 { font-size: 36px; }
.fs-45 { font-size: 45px; }
.fs-48 { font-size: 48px; }
.fs-50 { font-size: 50px; }
.fs-60 { font-size: 60px; }
.fs-75 { font-size: 75px; }
.fs-100 { font-size: 100px; }
.fs-103 { font-size: 103px; }

//Classes for Font Weight
.fw-900{font-weight: $fw-900;}
.fw-800{font-weight: $fw-800;}
.fw-700{font-weight: $fw-700;}
.fw-600{font-weight: $fw-600;}
.fw-500{font-weight: $fw-500;}
.fw-400{font-weight: $fw-400;}
.fw-300{font-weight: $fw-300;}
.fw-200{font-weight: $fw-200;}
.fw-100{font-weight: $fw-100;}



//Classes for line Heights
.lh-0 { line-height: 0; }
.lh-14 { line-height: 14px; }
.lh-16 { line-height: 16px; }
.lh-18 { line-height: 18px; }
.lh-20 { line-height: 20px; }
.lh-22 { line-height: 22px; }
.lh-24 { line-height: 24px; }
.lh-25 { line-height: 25px; }
.lh-26 { line-height: 26px; }
.lh-28 { line-height: 28px; }
.lh-30 { line-height: 30px; }
.lh-33 { line-height: 33px; }
.lh-34 { line-height: 34px; }
.lh-35 { line-height: 35px; }
.lh-36 { line-height: 36px; }
.lh-48 { line-height: 48px; }
.lh-55 { line-height: 55px; }
.lh-60 { line-height: 60px; }
.lh-72 { line-height: 72px; }
.lh-74 { line-height: 74px; }
.lh-82 { line-height: 82px; }
.lh-89 { line-height: 89px; }


//Classes for letter spacing
.ls-24 { letter-spacing: 24px; }
.ls-25 { letter-spacing: 25px; }
.ls-36 { letter-spacing: 36px; }


